 *{
     font-family: 'roboto', sans-serif;
     padding: 0;
     margin: 0;

 }

 header {
     background-color: rgba(0, 255, 136, 0.658);
     min-height: 50vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     
 }

.setor {
 
    margin: 10px;
}

.content {

    padding: 0px 30px;

}

.color{
    color: white;

}